<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}
<body>
<main>
    {% include header.html %}
    {{ content }}
    <ul class="blog-posts">
        {% for post in site.posts %}
        <li>
            <span>
                <i>{{ post.date | date: "%b %-d, %Y" }}</i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                {% if post.subtitle %} &#8226; {{post.subtitle}} {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
{% include footer.html %}
</body>
</html>