<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}
<body>
<main>
    {% include header.html %}
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}<h4>{{ page.subtitle }}</h4>{% endif %}
    <i>
        {% capture number_of_words %}{{ page.content | number_of_words }}{% endcapture %}
        {{ page.date | date: "%b %d, %Y" }}
        &#8226; {{ site.author }}
        &#8226; {{ number_of_words | divided_by: 200 | append: "min" }}
    </i>
    {{ page.content }}
</main>
{% include footer-post.html %}
</body>
</html>